<nav id="sidebar-icon-links"> 

{% if site.email %}
    <a
       class="icon" title="email" aria-label="email"
       href="{{ site.email}}" target="_blank">
     <i class="far fa-envelope"></i>
    </a>
  {% endif %}

  {% if site.facebook %}
    <a
       class="icon" title="Facebook" aria-label="Facebook"
       href="{{ site.facebook}}" target="_blank">
     <i class="fab fa-facebook-square"></i>
    </a>
  {% endif %}


{% if site.instagram %}
    <a
       class="icon" title="instagram" aria-label="instagram"
       href="{{ site.instagram}}" target="_blank">
    <i class="fab fa-instagram"></i>
    </a>
  {% endif %}



{% if site.etsy %}
    <a
       class="icon" title="etsy" aria-label="Etsy"
       href="{{ site.etsy}}" target="_blank">
     <i class="fab fa-etsy"></i>
    </a>
  {% endif %}




{% if site.mastodon %}
    <a
       class="icon" title="mastodon" aria-label="mastodon"
       href="{{ site.mastodon}}" target="_blank">
    <i class="fab fa-mastodon"></i>
    </a>
  {% endif %}


{% if site.github.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.github.repo }}" target="_blank">
      <i class="fab fa-github-square"></i>
    </a>
  {% endif %}


{% if site.linkedin %}
    <a
       class="icon" title="linkedin" aria-label="linkedin"
       href="{{ site.linkedin}}" target="_blank">
     <i class="fab fa-linkedin-in"></i>
    </a>
  {% endif %}
  {% include custom-icon-links.html %}
</nav>
