---
layout: default

---

<!DOCTYPE html>
<html lang="en-us">



<div class="content">

 <!-- Images used to open the lightbox -->


<div class="row">

  <div class="column">
     <img src="img/DCM0.png"  onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>


 <div class="column">
    <img src="img/DCM1.png"  onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>

  <div class="column">
    <img src="img/DCM2.png"  onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>

  <div class="column">
    <img src="img/DCM3.png"  onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>

 <div class="column">
    <img src="img/DCM4.png"  onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>

 
<center>

<iframe src="https://player.vimeo.com/video/496492877" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</center>

<br>

<center> <p> <b> Dispositivo Cinetico MIDI </b> <p/> </center>

<p>Dispositivo cinetico Midi is an experimental MIDI controller born with the idea of going beyond the “classic” paradigm the fixed keyboard with buttons and knobs on it.</p>

<p>
The DCM provides a strong connection between artist’s movements and the sounds plaid, guaranteeing a wide and deep range of options in terms of stage mobility and performance. 
</p>

<p>
The interaction with the controller controller consists in two main gestures: <br>
- A set of 12 buttons that can be pressed to send MIDI notes<br>
- A gyroscope that turns the position of the device into MIDI CC signals <br>

</p>

<p>
In other words, artists are able to apply sound effects by orienting the position of the device itself, creating a strong bond the performer’s gestures and the sounds produced during the performance. The goal of the controller is to provide artists with an interface that is both intuitive to operate and capable of fulfilling complex needs in terms of music production</p>
<p>

<p>
The device is composed by two PLA shells and a circular wooden handle designed to make
more intense and comfortable the use of the controller.
At the top of the device there are the keys and a symbol that identify the position of the
gyroscope. The device also includes a set of 4 LED's to give a visual feedback on the device behavior.
</p>

<p>
The device is equipped with a MIDI socket and of a mini USB port that can be used to
upload code to the device.</p>

<p>
Being based on open hardware and open software, the artist can disassemble the instrument and re-code the program to customize sensors calibration and other specifics. In fact, we encourage artists to personalize the DCM by shipping it with assembly instructions.</p>


<p>
The repository with the hardware and the source code can be found <a href="https://github.com/chihauccisoilconte/dispositivo_cinetico_midi" target="_blank">here </a>. <br>
And the instrument was designed using exclusively open source software    </p>

<p>
You can commission a DCM from my  <a href="https://www.etsy.com/shop/CHUICmusicinterfaces" target="_blank"> Etsy shop </a>.
If the item is out of stock and/or if you have any special requirements please send me an email!</p>

<p>
The design of the "Dispositivo Cinetico MIDI" interface is registered on  <a href="https://www.patamu.com/index.php/en/" target="_blank"> Patamu </a> with license no 144759
 
</p>

<img src="img/patamulogo.png" alt="patamu" style="width:100px;height:110px;"> 

<p>
DCM was originally designed as final project for the Fab Academy program 2020. It is 100% developed with open source software.</p>

</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 5</div>
      <img src="img/DCM0.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 5</div>
      <img src="img/DCM1.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 5</div>
      <img src="img/DCM2.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 5</div>
      <img src="img/DCM3.png" style="width:200%">
    </div>

 <div class="mySlides">
      <div class="numbertext">5 / 5</div>
      <img src="img/DCM4.png" style="width:200%">
    </div>



    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>



<script>
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>




    </div>
  </div>
</div> 
</div>
</html>
