---
layout: default

---

<!DOCTYPE html>
<html lang="en-us">



<div class="content">

 <!-- Images used to open the lightbox -->


<div class="row">

  <div class="column">
     <img src="img/DCM0.png"  onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>


 <div class="column">
    <img src="img/DCM1.png"  onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>

  <div class="column">
    <img src="img/DCM2.png"  onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>

  <div class="column">
    <img src="img/DCM3.png"  onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>

 <div class="column">
    <img src="img/DCM4.png"  onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>

 <div class="column">
    <img src="img/nanoaetherphone6.png"  onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>
<center>

<iframe src="https://player.vimeo.com/video/496492877" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</center>

<br>

<center> <p> <b> Dispositivo Cinetico MIDI </b> <p/> </center>

<p>Dispositivo Cinetico Midi (kinetic MIDI device) is a MIDI controller designed to include a strong physical interaction into a music performance</p>

<p>
The characteristics of the D are devised to offer artists the same sound possibilities of the Theremin, while also guaranteeing a wider range of options in terms of stage mobility and performance.
</p>

<p>
The interface is composed by two main elements: a set of 12 keys that the user have to press to send MIDI notes, and a gyroscope situated in the center pf the device and that can detect the device position.<br>
By moving the device, the performer can send MIDI CC signals, creating a correspondence between gestures and sound effects.

</p>

<p>
The shape of the device is circular, and made out of two plastic shells that efficiently keep all the electronic components, plus a wooden handle devised to offer a comfortable and pleasant experience while moving the controller. </p>
<p>

<p>
The interface works as a digital and compact instrument, and it can be personalized according with the artist’s needs and ways of making music.
</p>

<p>
Being based on open hardware and open software, the artist can disassemble the instrument and re-code the program to customize waves’ shape and frequency, sensors calibration and other specifics. In fact, we encourage you to personalize the Nano Aetherphone by shipping it with assembly instructions.</p>


<p>
The repository with the hardware and the source code can be found <a href="https://github.com/chihauccisoilconte/aetherphone_nano" target="_blank">here </a>. <br>
And the instrument was designed using exclusively open source software    </p>

<p>
You can commission a DCM from my  <a href="https://www.etsy.com/shop/CHUICmusicinterfaces" target="_blank"> Etsy shop </a>.
If the item is out of stock and/or if you have any special requirements please send me an email!</p>

<p>
The design of the "Dispositivo Cinetico MIDI" interface is registered on  <a href="https://www.patamu.com/index.php/en/" target="_blank"> Patamu </a> with license no 144759
 
</p>

<img src="img/patamulogo.png" alt="patamu" style="width:100px;height:110px;"> 



</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 5</div>
      <img src="img/DCM0.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 5</div>
      <img src="img/DCM1.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 5</div>
      <img src="img/DCM2.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 5</div>
      <img src="img/DCM3.png" style="width:200%">
    </div>

 <div class="mySlides">
      <div class="numbertext">5 / 5</div>
      <img src="img/DCM04.png" style="width:200%">
    </div>



    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>



<script>
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>




    </div>
  </div>
</div> 
</div>
</html>
