---
layout: default

---

<!DOCTYPE html>
<html lang="en-us">



<div class="content">



 <!-- Images used to open the lightbox -->


<div class="row">

  <div class="column">
     <img src="img/mcgui1.png"  onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>


 <div class="column">
    <img src="img/mcgui2.png"  onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>

  <div class="column">
    <img src="img/mcgui3.png"  onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>

  <div class="column">
    <img src="img/mcgui4.png"  onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>

   <div class="column">
    <img src="img/mcgui5.png"  onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>

   <div class="column">
    <img src="img/mcgui6.png"  onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>

<center>

<iframe src="https://player.vimeo.com/video/638375147?byline=0" width="640" height="352" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://player.vimeo.com/video/638375147">MotionComposer Tutorials</a> from <a href="https://motioncomposer.de/en/tutorials/">MotionComposer</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


</center>


<p><br> </p>

<center> <p> <b> Motion Composer GUI </b> <br>



made in collaboration with <a href="https://www.iof.fraunhofer.de/en.html" target="_blank">Fraunhofer </a> , <a href="https://www.fusionsystems.de/home.html" target="_blank">Fusion System </a>, and <a href="http://www.lucas-jena.de/" target="_blank">Lucas  </a>  <p/> </center> 


<p>The MotionComposer is a device that turns movement into music. It is designed for persons with different abilities, including those with cerebral palsy, aphasia, autism, quadriplegia, blindness, Alzheimer’s or Parkinson’s. It is for small children, senior citizens and everyone in between. The blink of an eye is enough to play a note!.</p>

<p>
In addition to designing the <a href="https://chihauccisoilconte.eu/mcc.html" target="_blank">chassis </a> , I was responsible for creating the Graphical User Interface (GUI) of the Motion Composer. The driving goal behind this design process was to strike a balance between a playful, approachable interface and meeting the technical requirements essential for the device's functionality. The App reached the stadium of a usable product that is currently on the market.
</p>

<p>
The primary function of the GUI is to assist the caregiver of the person using the Motion Composer, allowing for easy navigation through all features. The interface is organized into three main screens: a main screen for selecting the primary mode of play, a live playing screen where the caregiver can monitor camera views and control key settings, and a detailed screen for adjusting sounds and accessing more advanced features.
</p>

<p>
In parallel with the main structure, significant effort was invested in the graphical elements of the interface, including the design of custom pictograms based on the <a href="https://www.metacom-symbole.de/metacom_en.html" target="_blank"> Metacom </a> project, a carefully chosen color palette, and other visual details to enhance usability and aesthetic appeal. The graphic design work was also implemented in the instruction manual of the product.
</p>



<p>
<p>
A deep overview of the final verion of the GUi can be found<a href="https://motioncomposer.de/en/tutorials/" target="_blank">Here </a>

</p>





<p> <br> <br> </p>

</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
      <img src="img/mcgui1.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 6</div>
      <img src="img/mcgui2.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 6</div>
      <img src="img/mcgui3.png" style="width:200%">
    </div>

     <div class="mySlides">
      <div class="numbertext">4 / 6</div>
      <img src="img/mcgui4.png" style="width:200%">
    </div>
    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
      <img src="img/mcgui5.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
      <img src="img/mcgui6.png" style="width:200%">
    </div>



    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>



<script>
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>




    </div>
  </div>
</div> 
</div>
</html>
