<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}

    <main class="container">

<div>
  {{ content }}
</div>
<ul id="rig">

 <li>
        <a class="rig-cell" href="nanoaetherphone2.html">
            <img class="rig-img" src="img/na2.5.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Nano Aetherphone II</span>
        </a>
    </li>
    
     <li>
        <a class="rig-cell" href="soniccube.html">
            <img class="rig-img" src="img/soniccubes0.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Sonic Cube</span>
        </a>
    </li>

   <li>
        <a class="rig-cell" href="DCM.html">
            <img class="rig-img" src="img/DCM4.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Dispositivo Cinetico <br> MIDI</span>
        </a>
    </li>

   <li>
        <a class="rig-cell" href="mcc.html">
            <img class="rig-img" src="img/mcc6.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Motion Composer Chassis</span>
        </a>
    </li>

   <li>
        <a class="rig-cell" href="nanoaetherphone.html">
            <img class="rig-img" src="img/nanoaetherphone6.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Nano Aetherphone</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="strophonion.html">
            <img class="rig-img" src="img/stroph5.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">strophonion</span>
        </a>
    </li>

   <li>
        <a class="rig-cell" href="cracklesynth.html">
            <img class="rig-img" src="img/crack5.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Crackle Syntn 2.0</span>
        </a>
    </li>

   <li>
        <a class="rig-cell" href="noiseboard.html">
            <img class="rig-img" src="img/noiseboard4.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Noiseboard</span>
        </a>
    </li>

  <li>
        <a class="rig-cell" href="oddknobs.html">
            <img class="rig-img" src="img/oddknobs0.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Odd Knobs #1</span>
        </a>
    </li>



    <li>
        <a class="rig-cell" href="fello.html">
            <img class="rig-img" src="img/fello4.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Fello</span>
        </a>
    </li>

   <li>
        <a class="rig-cell" href="Lampyridae.html">
            <img class="rig-img" src="img/lamp4.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Lampirydae</span>
        </a>
    </li>

    <li>
        <a class="rig-cell" href="akselfoon.html">
            <img class="rig-img" src="img/ramm4.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Akselfoon <br> (aka Rammelaar)</span>
        </a>
    </li>

 
    <li>
        <a class="rig-cell" href="lightseq.html">
            
            <img class="rig-img" src="img/lightseq3.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Light seq</span>

        </a>
    </li>

    <li>
        <a class="rig-cell" href="punkidelay.html">
            <img class="rig-img" src="img/familiar5.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">punky stylo</span>
        </a>
    </li>



    <li>
        <a class="rig-cell" href="wonkydrumseq.html">
            <img class="rig-img" src="img/wds6.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">wonky drum seq</span>
        </a>
    </li>


<div>

<p> <br> </p>


<p>
<b>Projects / other stuff  </b> <br>

Down here you find other stuff I've been working on.
If you want to have a larger overview on my side projects and on other things I've done in the past you can explore  my <a href="https://chihauccisoilconte.tumblr.com/" target="_blank">old portfolio </a>
</p>

</div>
<ul id="rig-small">

  <li>
        <a class="rig-cell" href="https://chihauccisoilconte.tumblr.com/post/42110326726" target = _blank>
            <img class="rig-img" src="img/mida.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Mida</span>
        </a>
    </li>

 <li>
        <a class="rig-cell" href="https://chihauccisoilconte.tumblr.com/post/174145974003" target = _blank>
            <img class="rig-img" src="img/water.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Water Tasting</span>
        </a>
    </li>


 


   <li>
        <a class="rig-cell" href="http://3unch.tumblr.com/" target = _blank>
            <img class="rig-img" src="img/trilunch.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">3lunch</span>
        </a>
    </li>

  <li>
        <a class="rig-cell" href="http://chihauccisoilconte.tumblr.com/post/174145763223" target = _blank>
            <img class="rig-img" src="img/bigbong.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">"big bong theory"</span>
        </a>
    </li>

 <li>
        <a class="rig-cell" href="https://batjo.eu/" target = _blank>
            <img class="rig-img" src="img/batjologo.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">"Batjo"</span>
        </a>
    </li>


 

</ul>



</ul>





 </main>

    {% include custom-foot.html %}
  </body>
</html>
