<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}
   
    <main class="container">

 <div class="content">
<div>
  {{ content }}
</div>
<ul id="rig">

  

 <li>
        <a class="rig-cell" href="knurl.html">
            <img class="rig-img" src="img/knurl4.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Knurl</span>
        </a>
    </li>

  <li>
        <a class="rig-cell" href="DCM.html">
            <img class="rig-img" src="img/DCM4.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Dispositivo Cinetico <br> MIDI</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="strophonion.html">
            <img class="rig-img" src="img/stroph5.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">strophonion</span>
        </a>
    </li>

    <li>
        <a class="rig-cell" href="akselfoon.html">
            <img class="rig-img" src="img/ramm4.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Akselfoon <br> (aka Rammelaar)</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="noiseboard.html">
            <img class="rig-img" src="img/noiseboard4.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Noiseboard</span>
        </a>
    </li>

     <li>
        <a class="rig-cell" href="komorebi.html">
            <img class="rig-img" src="img/kom5.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Komorebi</span>
        </a>
    </li>
   <li>
        <a class="rig-cell" href="mcgui.html">
            <img class="rig-img" src="img/mcgui0.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Motion Composer GUI</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="fello.html">
            <img class="rig-img" src="img/fello4.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Fello</span>
        </a>
    </li>


<p>
My work has been featured in <b>over 500 performances and installations</b> at prestigious venues and
festivals, including the CTM Festival (Germany), KIKK Festival (Belgium), the National Museum of
Modern Art in Kyoto (Japan), and the Bauhaus 100 Festival. It has been showcased in 185 cities
worldwide (see the map below).

</p>
  

<div class="flourish-embed flourish-map" data-src="visualisation/19772640"><script src="https://public.flourish.studio/resources/embed.js"></script></div>


<p> Browse around to find more informations about me and my activities</p>
  
</ul>
 </main>

    {% include custom-foot.html %}
  </body>
</html>
