---
layout: default

---

<!DOCTYPE html>
<html lang="en-us">



<div class="content">



 <!-- Images used to open the lightbox -->


<div class="row">

  <div class="column">
     <img src="img/familiar1.png"  onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>


 <div class="column">
    <img src="img/familiar2.png"  onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>

  <div class="column">
    <img src="img/familiar3.png"  onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>

  <div class="column">
    <img src="img/familiar4.png"  onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>

 <div class="column">
    <img src="img/familiar5.png"  onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>

<center> <iframe src="https://player.vimeo.com/video/85545198" width="640" height="360" frameborder="0" allowfullscreen></iframe> </center>


<p><br> </p>

<center> <p> <b> Punkidelay </b> <p/> </center>

<font size="2">

<p>Punkidelay is a kind of stylophone based on Atari punk console.<br>
It's a diy synth designed by the Spain based collective called <a href="http://famfest.info/" target="_blank">Familiar </a>.  .<br>
I designed this casing for the sinth in a way that any user would be able to put it tegether and use it.
The device is made out of lasercutted polycarbonate. you can find some work in progress pics <a href="https://www.facebook.com/media/set/?set=a.696276210403956.1073741836.436693649695548&type=3" target="_blank"> here </a>.   </p>

<p>
For more info about the Punkidelay and to get instructions to make one just click <a href="http://famfest.info/cacharrines/punkidelay/" target="_blank">here </a>.       </p>
</font>





<p> <br> <br> </p>

</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 5</div>
      <img src="img/familiar1.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 5</div>
      <img src="img/familiar2.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 5</div>
      <img src="img/familiar3.png" style="width:200%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 5</div>
      <img src="img/familiar4.png" style="width:200%">
    </div>

 <div class="mySlides">
      <div class="numbertext">5 / 5</div>
      <img src="img/familiar5.png" style="width:200%">
    </div>

    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

<p>  hello hello  <p/>

<script>
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>




    </div>
  </div>
</div> 
</div>
</html>
